<sb-layout-dashboard>
    <h1 id="event-registration-webapp"><a name="event-registration-webapp" href="#event-registration-webapp"></a>Event
        Registration WebApp</h1>
    <p>A fullstack Webapp to manage participants registrations for multiple events.</p>
    <ul ngbNav #nav="ngbNav" class="nav-tabs nav nav-pills nav-fill" keyboard="changeWithArrows">
        <li ngbNavItem>
            <a ngbNavLink>Index</a>
            <ng-template ngbNavContent>
                <ul class="list-group">
                    <li class="list-group-item"><a class="badge badge-primary">Concept</a> : Explains the
                        basic design.</li>
                    <li class="list-group-item"><a class="badge badge-primary">Functional
                            Structure</a> :
                        Explains the features implemented
                        in the app.
                        <ul>
                            <li><a>Minimum Required</a></li>
                            <li><a>Intermediate</a>
                            </li>
                            <li><a>AddOn Features</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item"><a class="badge badge-primary">Tech Stack</a> : The
                        technologies used for
                        frontend and backend.</li>
                    <li class="list-group-item"><a class="badge badge-primary">Configuration</a> : Setup
                        and run the
                        code.</li>
                    <li class="list-group-item"><a class="badge badge-primary">ScreenShots</a> :
                        ScreenShots of
                        the live
                        app.<ul>
                            <li><a>Admin UI</a></li>
                            <li><a>Participants
                                    UI</a></li>
                        </ul>
                    </li>
                </ul>

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Concept</a>
            <ng-template ngbNavContent>
                <ul class="list-group">
                    <li class="list-group-item">The webapp consideres <strong>Admin</strong> users to be the organisers
                        of the events.
                    </li>
                    <li class="list-group-item">Then different participants can register into those events, and their
                        details would be
                        managed and
                        presented
                        to
                        the <strong>Admin</strong> users.</li>
                    <li class="list-group-item">Different admin users share the access, and can simultaneously manage
                        participants
                        details.</li>
                </ul>

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Functional Structure</a>
            <ng-template ngbNavContent>
                <h3 id="features"><a name="features" href="#features"></a>Features</h3>
                <h4 id="core"><a name="core" href="#core"></a>Core</h4>
                <h6 id="frontend"><a name="frontend" href="#frontend"></a>Frontend</h6>
                <ul>
                    <li>Data Capture - All mandatory fields(Full Name,Mobile,E-Mail,Upload ID Card).</li>
                    <li>Provides a preview Screen which list all the fields above and ID card in the preview.</li>
                    <li>On Submission Registration ID is generated and displayed.</li>
                    <li>Stores all the information captured in a local database.</li>
                    <li>Registration Date is system generated.</li>
                </ul>
                <h6 id="backend"><a name="backend" href="#backend"></a>Backend</h6>
                <ul>
                    <li>Backend works as a separate service.</li>
                    <li>REST Api is used for UI and Backend</li>
                    <li>Backend use ORM(Object-relational mapping) to store data in DBMS, hence supports :<br><em>
                            SQlite
                            (Currently
                            Used)
                        </em> MySql * MongoDB</li>
                </ul>
                <h4 id="intermediate"><a name="intermediate" href="#intermediate"></a>Intermediate</h4>
                <ul>
                    <li>Charts on the basis of Registration types for separate events.</li>
                    <li>Admin login functionality.</li>
                    <li>Event creation and management by Administrators.</li>
                    <li>List all Registrations in Admin view.</li>
                    <li>View Registraion link for admin to view each registration details.</li>
                </ul>
                <h4 id="addons"><a name="addons" href="#addons"></a>Addons</h4>
                <ul>
                    <li>Responsive Frontend UI.</li>
                    <li>The architecture is scalable.</li>
                </ul>
            </ng-template>
        </li>


        <li ngbNavItem>
            <a ngbNavLink>Tech Stack</a>
            <ng-template ngbNavContent>
                <blockquote>
                    <p>Frontend: Angular 9.1 + Bootstrap 4.0<br>Backend: Python-3 (Django + Rest Framework)</p>
                </blockquote>
                <h4 id="frontend"><a name="frontend" href="#frontend"></a>Frontend</h4>
                <p>The frontend uses bootstrap designs to provide a cross-platform responsive layout, making the app
                    accessible
                    on
                    mobile devices too.</p>
                <h4 id="backend"><a name="backend" href="#backend"></a>Backend</h4>
                <p>The backend is designed in Python’s Django framework and simply exposes REST Api endpoints which are
                    configured into the frontend’s environment parameter.</p>
            </ng-template>
        </li>


        <li ngbNavItem>
            <a ngbNavLink>Configuration</a>
            <ng-template ngbNavContent>
                <h4 id="requirements-&amp;-setup"><a name="requirements-&amp;-setup"
                        href="#requirements-&amp;-setup"></a>Requirements
                    &amp; SetUp</h4>
                <ul>
                    <li><strong>For Backend</strong> : Python 3 + Django + Rest Framework</li>
                    <li><strong>For Frontend</strong> : Angular 9.1 + Nodejs</li>
                    <li><strong>For Database</strong> : sqlite</li>
                </ul>
                <p>Goto directory : <code>Backend/EventRegistrationBackend/</code><br>Run:</p>
                <blockquote>
                    <p>pip3 install -r req.txt</p>
                </blockquote>
                <h4 id="frontend-in-angular-7"><a name="frontend-in-angular-7"
                        href="#frontend-in-angular-7"></a>Frontend in
                    angular
                    7
                </h4>
                <p>Goto directory : <code>Frontend/</code><br>Run:</p>
                <blockquote>
                    <p>npm install<br>ng serve</p>
                </blockquote>
                <h4 id="backend-in-python3-+-django-+-django-rest-framework"><a
                        name="backend-in-python3-+-django-+-django-rest-framework"
                        href="#backend-in-python3-+-django-+-django-rest-framework"></a>Backend in Python3 + Django +
                    Django-rest-framework</h4>
                <p>To run</p>
                <p> Goto directory : Backend/EventRegistrationBackend/</p>
                <blockquote>
                    <p>python3 manage.py runserver</p>
                </blockquote>

            </ng-template>
        </li>


        <li ngbNavItem>
            <a ngbNavLink>ScreenShots</a>
            <ng-template ngbNavContent>

                <ul ngbNav #nav="ngbNav" class="nav-tabs nav nav-pills nav-fill">
                    <li ngbNavItem>
                        <a ngbNavLink>Admin-UI</a>
                        <ng-template ngbNavContent>
                            <ul>
                                <li>
                                    <p>Admin Register<br><img class="img-fluid" src="assets/image/admin_register.png"
                                            alt="Home View"></p>
                                </li>
                                <li>
                                    <p>Admin Login<br><img class="img-fluid" src="assets/image/admin_login.png"
                                            alt="Home View"></p>
                                </li>
                                <li>
                                    <p>Dashboard<br><img class="img-fluid" src="assets/image/dash-admin.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>Create Event<br><img class="img-fluid" src="assets/image/create-event.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>Events list<br><img class="img-fluid" src="assets/image/event-list-admin.png"
                                            alt="Home View"></p>
                                </li>
                                <li>
                                    <p>Participants list<br><img class="img-fluid" src="assets/image/list.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>About<br><img class="img-fluid" src="assets/image/about.png" alt="Home View">
                                    </p>
                                </li>
                            </ul>
                        </ng-template>
                    </li>

                    <li ngbNavItem>
                        <a ngbNavLink>Participants-UI</a>
                        <ng-template ngbNavContent>
                            <ul>
                                <li>
                                    <p>Dashboard<br><img class="img-fluid" src="assets/image/dashboard.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>Events list<br><img class="img-fluid" src="assets/image/event-list-user.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>Event Registration form<br><img class="img-fluid" src="assets/image/form.png"
                                            alt="Home View"></p>
                                </li>
                                <li>
                                    <p>Registration Preivew<br><img class="img-fluid" src="assets/image/preview.png"
                                            alt="Home View">
                                    </p>
                                </li>
                                <li>
                                    <p>Registration no. conformation<br><img class="img-fluid"
                                            src="assets/image/regno.png" alt="Home View"></p>
                                </li>
                            </ul>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>


            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</sb-layout-dashboard>
